body {
	text-align: left;
}

.newsForm {
	width: 80%;
	margin: auto;
}

.createNewsButton {
	width: 20%;
	margin:0 40%;
	height: 50px;
	font-weight: 900;
	border: none;
    outline:none;
    background-color: rgba(255, 0, 0, 1);
    cursor: pointer;
	border-radius: 30px;
    box-shadow: 0 9px #999;
}

.createNewsButton:hover {
	background-color: rgba(200, 0, 0, 1);
}

.createNewsButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

span {
	color: black;
}